<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smart.utube">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTUBE">
        <activity android:name=".Activity.DownloadActivity"
            android:theme="@style/Theme.UTUBE.NoActionBar"></activity>
        <activity
            android:name=".Activity.ChannelActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.UTUBE.NoActionBar" />
        <activity
            android:name=".Activity.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.UTUBE.NoActionBar" />
        <activity android:name=".Activity.floatingWindows" />
        <activity
            android:name=".Activity.PlayerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.UTUBE.NoActionBar" />
        <activity
            android:name=".Activity.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.UTUBE.NoActionBar" />
        <activity
            android:name=".Activity.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.UTUBE.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="youtu.be"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.WelcomeScreen"
            android:theme="@style/Theme.UTUBE.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="youtu.be"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name="io.hamed.floatinglayout.service.FloatingService" />
    </application>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



</manifest>